p{
    color: brown;
    text-align: center;
}
h1{
    text-align: center;
    color:aqua;
    border: 5px solid palegreen;
    margin-left: 30%;
    margin-right: 30%;
    background-color: darkcyan;
    padding: 0.5%;   
}